
.drag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropzone {
    width: 300px;
    border: 5px dashed rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 400px;
}


.drag-hover {
    background-color: #f6fff8;

}

.scale-half {
    transform: scale(0.60); /* Scales the element to half of its original size */
    transform-origin: top center ; /* Sets the transformation origin to the top-left corner */
}